* {
    margin: 0;
}

/* --------------------------------------------- Font styles --------------------------------------------- */

body {
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B1B1E;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2A7DE1;
    margin-bottom: 7px;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    color: #828282;
}

h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: transparent;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 0;
}

p {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #1B1B1E;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* -------------------------------------------- Component styling ------------------------------------------- */

.button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    margin-top: 20px;
    width: auto;
    height: auto;
    background: #FAA916;
    border-radius: 50px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button:hover {
    background-color: #2A7DE1;
}

.button:active {
    background-color: #2A4893;
}

/* --------------------------------------------- Header section --------------------------------------------- */

#navBar {
    height: 20vh;
    display: flex;
    flex-direction: row;
    margin: 0px 15%;
}

.navLogo {
    display: flex;
    align-items: center;
    width: 30%;
}

.navLogo img {
    width: 75px;
}

.menuItems {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

.menuItems a {
    margin-left: 10%;
    color: #4F4F4F;
}

.menuItems a:hover {
    color: #2A7DE1;
}

.menuItems a:active {
    color: #2A4893;
}

.menuItems .highlight {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #2A7DE1;
}

.hamburgerMenu {
    cursor: pointer;
    display: none;
}

.hamburgerMenu div {
    width: 35px;
    height: 3px;
    background-color: #4f4f4f;
    margin: 9px 0;
    border-radius: 25px;
}

/* --------------------------------------------- Hero section --------------------------------------------- */

.heroSection {
    height: 75vh;
    background-image: linear-gradient(180deg, white, #F1F0F0);
    padding: 0px 15%;
}

.headline {
    position: absolute;
    top: 30%;
    width: 46%;
    word-wrap: break-word;
    box-sizing: border-box;
}

.profile img {
    position: absolute;
    top: 28%;
    right: 13%;
    width: 23%;
    max-width: 400px;
    min-width: 250px;
    padding: 0px;
}

.headlineAbout {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 5%;
}

.profileFull img {}

.profileSquare {
    display: none;
}

.aboutContent {
    margin-left: 8%;
    word-wrap: break-word;
}

/* --------------------------------------------- Work section --------------------------------------------- */

.myWorkGrid {
    display: grid;
    margin: 100px 15%;
    margin-bottom: 0;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "imageOne descripOne"
        "imageTwo descripTwo"
        "imageThree descripThree"
    ;
}

#imageOne {
    grid-area: imageOne;
    width: 90%;
    height: 350px;
    background-color: lightgray;
    margin-bottom: 100px;
}

#imageTwo {
    grid-area: imageTwo;
    width: 90%;
    height: 350px;
    background-color: lightgray;
}

#imageThree {
    grid-area: imageThree;
    width: 90%;
    height: 350px;
    background-color: lightgray;
}

#descripOne {
    grid-area: descripOne;
    width: 90%;
}

#descripTwo {
    grid-area: descripTwo;
    width: 90%;
}

#descripThree {
    grid-area: descripThree;
    width: 90%;
}


/* --------------------------------------------- Footer section --------------------------------------------- */

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    background-color: #2A7DE1;
}

.footerLogo img {
    width: 55px;
}

.footerItems {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    min-width: 320px;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.footerItems a {
    color: white;
}

.footerItems a:hover {
    color: #FAA916;
}

.socialBlock {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    min-width: 280px;
}


/* ------------------------------------------- Mobile 600px screen ------------------------------------------ */

@media only screen and (max-width: 600px) {

    /* ----------------------------------- Header section --------------------------------- */

    #navBar {
        margin: 0px 7%;
    }

    .menuItems {
        display: none;
    }

    .hamburgerMenu {
        display: block;
        position: absolute;
        top: 5%;
        right: 7%;
    }

    /* ----------------------------------- Hero Section ----------------------------------- */

    .heroSection {
        padding: 0px 7%;
    }

    .headline {
        position: absolute;
        top: 22%;
        width: 86%;
    }

    .aboutContent {
        margin-left: 0px;
        word-wrap: break-word;
    }

    .profile img {
        display: none;
    }

    .profileFull img {
        display: none;
    }

    .profileSquare {
        display: block;
        margin-bottom: 5%;
    }

    .profileSquare img {
        width: 100%;
        height: auto;
    }

    /* ------------------------------------ Work Grid ------------------------------------- */


    .myWorkGrid {
        margin: 100px 7%;
        grid-template-rows: 1fr 16% 1fr 16% 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "imageOne"
            "descripOne"
            "imageTwo"
            "descripTwo"
            "imageThree"
            "descripThree"
        ;
    }

    #imageOne {
        grid-area: imageOne;
        width: 100%;
        margin-bottom: 20px;
    }

    #imageTwo {
        grid-area: imageTwo;
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }

    #imageThree {
        grid-area: imageThree;
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }

    #descripOne {
        grid-area: descripOne;
        width: 100%;
    }

    #descripTwo {
        grid-area: descripTwo;
        width: 100%;
    }

    #descripThree {
        grid-area: descripThree;
        width: 100%;
    }

}

/* ------------------------------------------- Mobile 425px screen ------------------------------------------ */

@media only screen and (max-width: 425px) {

    .navLogo img {
        width: 55px;
    }

    .heroAbout {
        padding: 0px 7%;
        padding-bottom: 13%;
        height: auto;
    }

    .headlineAbout h1,
    h4 {
        font-size: 32px;
        line-height: 48px;
    }



}